<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Friends-filter</title>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
          <style>

  </style>
    </head>
    <body>        
        <div class="wrap">
            <div class="map" id="map"></div>
            <div id="reviewBlock" class="reviewBlock visually-hidden" data-coord="" data-address="" data-position="">
                {{> "./src/templates/makeFormTemplate.hbs"}}
            </div>
        </div>
    </body>
</html>
